body {
	background-color: #272822;
	font-family: arial;
}

#name {
	float: left;
}

#options {
	float: right;
	color: white;
	z-index: 1000;
}

#syntax{
	width: 300px;
	float: right;
	border: 1px solid black;
}

#editor { 
	position: absolute;
	top: 35px;
	right: 0;
	bottom: 0px;
	left: 0;
}